// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1 {
  color:red;
}


.page-container {
  border: 5px solid black;
  margin: 10px;
}